# Ignore environment variables file
.env

# Ignore datasets but keep cached data
Datasets/Movie_Lens_Datasets/ml-32m/tags.csv
Datasets/Movie_Lens_Datasets/ml-32m/ratings.csv
Datasets/Movie_Lens_Datasets/ml-32m/movies.csv
Datasets/Movie_Lens_Datasets/ml-32m/links.csv
Datasets/Movie_Lens_Datasets/ml-latest-small/tags.csv
Datasets/Movie_Lens_Datasets/ml-latest-small/ratings.csv
Datasets/Movie_Lens_Datasets/ml-latest-small/movies.csv
Datasets/Movie_Lens_Datasets/ml-latest-small/links.csv
Datasets/Movie_Lens_Datasets/ml-32m/README.txt
Datasets/Movie_Lens_Datasets/ml-latest-small/README.txt
Datasets/Movie_Lens_Datasets/ml-32m/checksums.txt

# Ignore all files in the flowchart folder
flowchart/*

# Ignore all files in the papers folder
paper/*